<a href="https://entanglesoftware.com">
  <img src="./assets/logo/logo.png" width="250px" class="company-logo" />
</a>
<div class="donught-row">
  <!--Default segment config -->
  <div class="donught-container">
    <app-svg-donught [config]="defaultSegmentDonught"></app-svg-donught>
  </div>

  <!--Default segment config -->
  <div class="donught-container">
    <app-svg-donught [config]="defaultColorSegmentDonught"></app-svg-donught>
  </div>
</div>

<div class="donught-row">
  <!--One segment clockwise config -->
  <div class="donught-container">
    <app-svg-donught [config]="oneSegmentConfig"></app-svg-donught>
  </div>

  <!--One segment Anti-clockwise config -->
  <div class="donught-container">
    <app-svg-donught [config]="oneSegmentConfigAntiClockwise"></app-svg-donught>
  </div>

  <!--One segment Anti-clockwise config -->
  <div class="donught-container">
    <app-svg-donught
      [config]="oneSegmentConfigAntiClockwiseWithSpace"
    ></app-svg-donught>
  </div>
</div>

<div class="donught-row">
  <!--Three segment config -->
  <div class="donught-container">
    <app-svg-donught [config]="threeSegmentDonught"></app-svg-donught>
  </div>

  <!--Three segment config -->
  <div class="donught-container">
    <app-svg-donught
      [config]="threeSegmentDonughtAnticlockwise"
    ></app-svg-donught>
  </div>
</div>

<div class="donught-row">
  <!--Three segment config with white space b/w -->
  <div class="donught-container">
    <app-svg-donught
      [config]="threeSegmentDonughtWithWhiteSpace"
    ></app-svg-donught>
  </div>

  <!--Three segment config with 12% white space b/w -->
  <div class="donught-container">
    <app-svg-donught
      [config]="threeSegmentDonughtWithTwelvePercentWhiteSpace"
    ></app-svg-donught>
  </div>

  <!--Three segment config with 12% white space b/w anti-clockwise -->
  <div class="donught-container">
    <app-svg-donught
      [config]="threeSegmentDonughtWithTwelvePercentWhiteSpaceAntiClockwise"
    ></app-svg-donught>
  </div>
</div>
