.donught-container {
  height: 300px;
  width: 300px;
}

.donught-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.company-logo {
  width: 250px;
  margin-left: 50px;
  margin-top: 30px;
}
